{% extends "base.html" %}

{% block content %}
<div class="form-container">
    <h2>Add Credential</h2>
    <form method="POST">
        <label>Site Name</label>
        <input type="text" name="site_name" required>

        <label>Site Username</label>
        <input type="text" name="site_username" required>

        <label>Site Password</label>
        <input type="password" name="site_password" required>

        <button type="submit">Save Credential</button>
    </form>
</div>
{% endblock %}
